fastapi
uvicorn[standard]
sqlalchemy
mysql-connector-python
python-dotenv
passlib[bcrypt]
bcrypt==3.2.2
python-jose[cryptography]
python-multipart
pydantic[email]
cors

# Database
pymysql
aiomysql
gunicorn